/WebHouseRental/HouseRentalWebPage/nbproject/private/
/WebHouseRental/HouseRentalWebPage/build/
/WebHouseRental/HouseRentalWebApp/nbproject/private/
/WebHouseRental/HouseRentalWebApp/build/
/WebHouseRental/HouseRentalWebApp/dist/
/HouseRentalWebService/nbproject/private/
/HouseRentalWebService/build/
/HouseRentalWebService/dist/