/WebHouseRental/HouseRentalWebPage/nbproject/private/
/WebHouseRental/HouseRentalWebPage/build/
/WebHouseRental/HouseRentalWebApp/nbproject/private/
/WebHouseRental/HouseRentalWebApp/build/
/WebHouseRental/HouseRentalWebApp/dist/
/HouseRentalService/nbproject/private/
/HouseRentalService/build/
/HouseRentalService/dist/
/HouseRentalJavaApp_Server/nbproject/private/
/HouseRentalJavaApp_Client/build/
/HouseRentalJavaApp_Server/build/
/HouseRentalJavaApp_Server/dist/
/HouseRentalJavaApp_Admin/nbproject/private/